body{
    display: flex;
    flex-direction: column; 
    background-image: url("fotos/backgound.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}
/* nice color*/
/* style="background-color: burlywood;" */
.page{
    background-color: #ff95951b;
    font-size: 20px;
    font-family: cursive;
}
.p10{
    padding: 10px;
}
.p10-top{
    padding-top:10px;
}
.p20-left{
    padding-left:20px;
}
.m5{
    margin: 5px;
}
.m10{
    margin: 10px;
}
.m20{
    margin: 20px;
}
.w250{
    width: 250px;
}
.w500{
    width: 500px;
}
/* for icons */
.small-img {
    max-width: 50px;
    height: auto;
}
/* footer's icons */
.so-small-img {
    max-width: 20px;
    height: auto;
    margin: 5px;
}
.button{
    margin-right: 10px;
    width: 50px;
    height: 50px;
}
.navbar-nav .nav-link {
    color: rgb(205, 60, 60); /* Change the font color of the navbar links */
  }
.footer{
    bottom: 0;
    position: block;
    width: 100%;
    background-color: #eee;
    text-align: center;
}
.footer2{
    background-color: #dddddd;
}
/* mycity.html size of the photos of the slider */
.carousel-inner img{
    height:500px;
    width: auto;
}
/* cv.hyml profile photo */
.profile{
    width: 200px;
    height: 200px;
    border-radius: 20%;
    box-shadow: 0px 5px 25px 0px rgba(0,0,10,0.5);
}
/* cv.html */
/* profile photo and text */

@media (max-width:991) {
    /* cv.html */
/* profile photo and text */
    .image-with-text {
        display: block;
        justify-content: center;
        align-items: center;
    }
    
}
    
/*  .image-with-text {
        display: flex;
    }*/
/* cv.html */
.myName-div{
    padding: 70px;;
    width: auto;
    height: 200px;
    border-radius: 10px;
    background-color: #fdfdfd;
}
/* courses.html */
@media (max-width: 991px) {
    .courses-page-input{
        width: auto;
        display: block;
        padding: 25px
    }
    .lists-of-programs{
        display: block;
    }
    .w250{
        width: auto;
    }
 /*   .footer{
        position: relative;
    }*/
}
@media (min-width: 992px){
    /* courses.html */
    .courses-page-input{
        justify-content: space-between;
        display: flex;
    }
    /* courses.html */
    .lists-of-programs{
        display:flex;
    }
    /* courses.html */
    .pr-list1, .pr-list2{
        flex:1;
    }
            /* cv.html */
    /* profile photo and text */
    .image-with-text {
        display: flex;
        align-items: center;
    }
    .hobbies{
        justify-content: space-between;
        display: flex;
    }  
    .hobbies div {
        margin: 50px;
        padding: 50px;
    }  
}
/* courses */
.border{
    padding: 30px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 7px 7px 25px 0px;
    background-color: rgb(255, 221, 221);
}
.center{
    align-items: center;
}

.contactDiv{
    background-color: #ffececc5;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.vueBtn{
    background-color: #41B883; color: #34495E;
}
.jsBtn{
    background-color: #F0DB4F; color: #323330;
}
#vueForm{
    display: none;
}
#jsForm{
    display: none;
}
.loginForm ,.paragraph ,.movies ,.games, .hobbiesILike ,.aboutMe{
    background-color: rgba(250, 235, 215, 0.703);
    border-radius:10px;
}
.searchClass{
    background-color: #fdfdfd;
}